* {
	box-sizing: border-box;
}

nav {
	width: auto;
	float: right;
	padding-top: 35px;
	font-size: 24px;
	width: 35%;
}

body {
	margin: 0 auto;
	background-image: url("Desktop/background.png");
	background: #eee;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
}

nav a {
	color: #777;
	text-decoration: none;
	width: 30%;
	padding-right: 5px;
}

p {
	color: #777;
	line-height: 200%;
}

hr {
	background: #ccc;
	color: #ccc;
    height: 3px;
}

footer {
	background: #666;
	color: #aaa;
	border-top: 6px solid #4aaaa5;
	padding: 33px;
	text-align: center;
	font-size: 12px;
}

.clearfix {
	display: block;
	width: 1024px;
	margin: 0 auto;
}

#my-name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #fff;
	background: #4aaaa5;
	font-size: 32px;
	padding: 30px 20px 30px 20px;
	float: left;
	margin-left: 100px
}

#about-me {
	border: 2px solid #ddd;
	padding: 0px 30px 0px 30px;
	float: left;
	width: 60%;
	background: #fff;
	margin: 40px 40px 0 0;
}

#profile {
	width: 240px;
	height: auto;
	float: left;
	margin: 10px 20px 0 0;
}

#connect-with-me {
	border: 2px solid #ddd;
	padding: 0px 30px 40px 30px;
	float: left;
	width: 27%;
	background: #fff;
	margin: 40px 0;
}

#icon {
	width: 60px;
	height: auto;
	margin: 3.5px;
}

#header {
	background: #fff;
	border-bottom: 2px solid #ccc;
	height: 97px;
}

.border-right {
	border-right: 2px solid #777;
}

.content {
  min-height: calc(85vh - 70px);
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}