body {
	background-image: url("https://unc.bootcampcontent.com/UNC-Coding-Boot-Camp/08-14-2017-Chapel-Hill-Class-Repository-FSF/raw/master/01-Class-Content/01-html-git-css/02-Homework/Instructions/Images/Portfolio_About.png");
	background-size: 1200px 100%;
}

h1 {
	float: left;
	padding-left: 15%;
	color: black;
}

img {
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

li {
	display: inline;
}

#about-me {
	width: 49%;
    border: 1px solid black;
    padding: 10px;
   	margin: 80px 20% 20% 10%;
}

#contact-me {
	width: 49%;
    border: 1px solid black;
    padding: 10px;
   	margin: 20px 20% 20% 10%;
}

#my-name {
	padding-left: 13%;
	padding-right: 37%;
	font-size: 30px;
}

.right-border {
	border-right: 1px solid #bbb;
}

.connect-with-me {
	width: 40%;
	float: left;
}

.image-align {
	float: left;
}