body {
	background-image: url("ep_naturalblack.png");
}

h1 {
	float: left;
}

img {
    width: 300px;
    height: auto;
}

.header {
	float: left;
}

#padding {
	padding-left: 50%;
}

#about-me {
	width: 60%;
	float: left;
}

#connect-with-me {
	width: 40%;
	float: left;
}